@charset "UTF-8";

/*Estilo para telas*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(157, 157, 157);
}

header > h1 {
    text-align: center;
}

menu ul {
    background-color: grey;
    list-style-type: none;
    padding: 10px;
}

menu li {
    background-color: rgb(91, 91, 91);
    color: white;
    border-radius: 7px;
    display: inline-block;
    padding: 10px;
}

article {
    display: block;
    margin: auto;
    width: 600px;
}